
.nav-items {
  display: flex;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
            
}
.sym-header{
  
  display: flex;
  background-color: orangered;
  justify-content: center;
  height: 5rem;
  align-items: center;
}
header > img{
  width: 50px;
}
header >h1{
  font-size: 4rem;
  font-weight: 500;
  
}
h1 {
  padding:20px;
  display: flex;
  color:white;
  justify-content: center;
  
}