body {
  padding-left: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

article.journal-entry {
  display: flex;
}

.main-image-container {
  width:125px;
  height: 168px;
  overflow: hidden;  
  border-radius: 5px;
  flex-shrink: 0;
  
}
.main-image {
  width: 100%;
  height:100%;
  object-fit: cover;
}
.div-text-content{
  padding-left:20px;
}
